<div class="container" id="Footer">
  <form>
    <!--<div class="row">-->
      <!--<div class="col-xs-10">-->
        <!--<input class="form-control input-lg" type="text" />-->
      <!--</div>-->
      <!--<div class="col-xs-2"x>-->
        <!--<input type="button" value="S E N D" class="btn btn-danger btn-lg btn-block" />-->
      <!--</div>-->
    <!--</div>-->
    <div class="input-group">
      <input name="messageBox" class="form-control input-lg" type="text" id="messageBox" (keypress)="enterChecker($event)" [(ngModel)]="messageBoxValue"/>
      <div class="input-group-btn">
        <button type="button" class="btn btn-custom btn-lg" id="sendButton" (click)="sendButtonClicked()">S E N D</button>
      </div>
    </div>
  </form>
</div>
